<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
</head>

<script>
    function del(id) {
        if (confirm("是否删除用户？")) {
            window.location = document.getElementById("delete-link").getAttribute("href") + "?id=" + id;
        }
    }
    $(function () {
        $("#batch-delete-button").click(function() {
            var selectedIds = $("[name='selectedId']:checked");
            var ids = [];
            for (var i = 0; i < selectedIds.length; i++) {
                ids.push(selectedIds[i].value);
            }
            // $.post("[[@{/user910/batchDelete}]]", {ids: ids}, function(data) {
            //     alert(data)
            // });
            $.post("http://localhost:8081/user104/batchDelete", {ids: ids}, function(data) {
                alert(data)
            });
        });
    });
</script>

<body>
<h3>用户列表</h3>
<div>
    <form id="query-form" method="get" th:action="@{/user/list}">
        <label>用户名：</label>
        <input type="text" name="username" value="">
        <input type="submit" value="查询">
    </form>
    <button id="batch-delete-button">批量删除</button>
    <button id="batch-update-button">批量修改用户名</button>
</div>
<table id="user-table" border="1">
    <thead>
    <tr>
        <th width="40px"></th>
        <th width="320px">id</th>
        <th width="150px">用户名</th>
        <th width="100px">姓名</th>
        <th width="150px">生日</th>
        <th width="150px">头像</th>
        <th width="150px">所属部门</th>
        <th width="100px">操作</th>
    </tr>
    </thead>
    <tbody>
    <form id="batch-update-form" th:action="@{/user911/batchUpdate}" method="post">
        <tr th:each="user,userstatus : ${userList}">
            <td align="center">
                <input type="checkbox" name="selectedId" th:value="${user.id}">
            </td>
            <td align="center">[[${user.id}]]</td>
            <td align="center">
                <input type="text" th:name="|users[${userstatus.index}].username|" th:value="${user.username}">
            </td>
            <td align="center">[[${user.name}]]</td>
            <td align="center">[[${#dates.format(user.birthday, 'yyyy-MM-dd')}]]</td>
            <td align="center">
                <img th:src="@{|/user914/getPhoto?id=${user.id}|}"/>
            </td>
            <td align="center">[[${user.department.name}]]</td>
            <td align="center">
                <a th:href="@{|/user914/edit?id=${user.id}|}">编辑</a>
                <a th:href="|javascript:del('${user.id}')|">删除</a>
            </td>
        </tr>
    </form>
    </tbody>
</table>
<a id="delete-link" th:href="@{/user/delete}" style="display: none"></a>
</body>
</html>